<header class="main-header">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center h-100 px-5">
            <a class="navbar-brand d-flex align-items-center" asp-area="" asp-page="/Index">
                <img src="~/css/images/Original.png" alt="Logo" class="logo-image">
            </a>
            <div class="cart-icon">
                <a href="/Cart" class="btn btn-link has-items">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-count">Cart (3)</span>
                </a>
            </div>
        </div>
    </div>
</header>